# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Playwright artifacts
test-results/

# IDE
.idea/

# Reports
allure-results/
allure-report/
reports/

# OS
.DS_Store
Thumbs.db